extends layout/index
block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nam dui velit, dictum et feugiat vel, maximus in magna. Nullam ut leo ut est pharetra fermentum. Integer fringilla metus et imperdiet tincidunt. Sed lectus elit, elementum sit amet ultricies eu, finibus sollicitudin metus. Quisque fringilla justo id hendrerit sodales. Vivamus laoreet eleifend dui, elementum vehicula nibh congue eget.. Aliquam sit amet fermentum ante, vel maximus tortor.

                p pretium nisi a nisi malesuada, nec cursus dolor finibus. Aliquam erat volutpat. Sed molestie quam eget turpis mattis consequat. Nam consectetur, odio non pretium aliquet, leo arcu pharetra ante, at eleifend sapien arcu sit amet tellus.

                p Integer sit amet dolor quam. Nullam a euismod erat. Cras in maximus mauris. Morbi porta turpis massa, nec rhoncus ipsum mattis vel. Aenean consequat leo sed neque elementum, at porttitor massa molestie. Nunc eleifend consequat mollis. Nunc quis orci a lorem facilisis porttitor.


    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", class="img-fluid mb-4")
                    h4.mb-4 Seguridad 
                    p Integer sit amet dolor quam. Nullam a euismod erat. Cras in maximus mauris. Morbi porta turpis massa, nec rhoncus ipsum
                .col-md-4
                    img(src="/img/icono_destinos.svg", class="img-fluid mb-4")
                    h4.mb-4 Destinos
                    p Integer sit amet dolor quam. Nullam a euismod erat. Cras in maximus mauris. Morbi porta turpis massa, nec rhoncus ipsum 

                .col-md-4
                    img(src="/img/icono_precios.svg", class="img-fluid mb-4")
                    h4.mb-4 Los mejores precios 
                    p Integer sit amet dolor quam. Nullam a euismod erat. Cras in maximus mauris. Morbi porta turpis massa, nec rhoncus ipsum  


        
